.news-item when (@widget-news-list){

    .news-image{
        img{ }
    }

    .news-title{ }

    .newslog-admin-actions{
        text-align : right;
        a{ }
    }

    .news-date{
        color : lighten(@text-color, 15%);

        &:before{
            top       : 2px;
            font-size : 16px;
            color     : @primary-bg;
        }
    }

    .news-description{ }

    .news-tags{

        a{
            .link-color(@gray);

            & + a{
                margin-left : 0.5em;
            }

            &:before{
                color        : @gray;
                margin-right : 0.5em;
            }
        }
    }

    .newslog-tag-filter{
        &:before{
            content : "\e02f";
        }
    }
}